body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}
#renderCanvas {
    width: 100%;
    height: 100%;
}
#customLoadingScreen {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    z-index: 100;
}
.fade-out {
    animation: fadeOut 4s forwards;
}
.fade-out-delayed {
    animation: fadeOutDelayed 4s forwards;
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fadeOutDelayed {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.dancing-script-h1 {
    font-family: "Dancing Script", cursive;
    visibility: hidden;
    opacity: 0;
    animation: fadeInText 2s forwards, stayVisible 2s 2s forwards, fadeOutText 2s 4s forwards;
}
@keyframes fadeInText {
    to {
        opacity: 1;
    }
}
@keyframes stayVisible {
    to {
        opacity: 1;
    }
}
@keyframes fadeOutText {
    to {
        opacity: 0;
    }
}
#fadein {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    animation: fadeIn 500ms forwards;
}
@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}