header {
  background: black;
  color: white;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  display: flex;
}

h1 {
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  text-align: center;
  padding: 7px 0;
  flex-grow: 2;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 18px 15px 0;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  z-index: 3;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOur {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;

  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 55px;
  animation: fadeOut 0.25s;
}

#dropdown-checkbox {
  display: none;
}

#dropdown-checkbox:checked + .dropdown-content {
  display: block;
  animation: fadeIn 0.25s;
}

#dropdown-checkbox:checked + .dropdown-content {
  display: block;
  animation: fadeIn 0.25s;
}

/* Show dropdown menu */
.dropdown-content.show {
  display: block;
}

/* Dropdown Links */
.dropdown-content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
