.hero {
  
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: table-cell;
  vertical-align: middle;

  font-family: Impact, Charcoal, sans-serif;
  font-size: 1em;
  letter-spacing: 0.3px;
  line-height: 9em;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  color: #ffffff;
}

.hero p {
   margin: 0;
   text-transform: uppercase;    
   font-size: 9vi;
   letter-spacing: -0.0ch;
   line-height: 1.0;
}

@layer hero {
  .highlighted-text-shadow {
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px var(--shadow),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
  }
}

@layer hero.support {
  :root {
    --hue: 400; /* change me */
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: rgba(255, 255, 255, .4);
    --highlight: #F5BEAC;
  }

}