.content-wrap {
  position: relative;
  z-index: 2;
  width: 100vx;
  min-height: 100vh;
  background-color: white;
  margin-top: 100vh;
  padding: 20px 30px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.content article {
  text-align: left;
  color: rgba(0, 0, 0, 1);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

h2 {
  margin: 20px 0;
  font-size: 24px;
}

/* .company {
  font-family: "Dancing Script", cursive;
} */

.bebas-neue,
.company {
  font-family: "Bebas Neue", sans-serif;
  background: #986354;
  background: linear-gradient(to right, #986354 0%, #F5BEAC 50%, #986354 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
}

.company {
  position: relative;
  top: 1px;
}

.standout-01 {
  font-weight: 400;
  color: rgb(152, 99, 84);
}

:root {
  --background-color: white;
  --text-color: hsl(50 50% 0%);
}

.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 1rem + 3vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
