.content-wrap {
  position: relative;
  z-index: 2;
  width: 100vx;
  min-height: 100vh;
  background-color: white;
  margin-top: 100vh;
  padding: 20px 30px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.content article {
  text-align: left;
  color: rgba(0, 0, 0, 1);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

h2 {
  margin: 20px 0;
  font-size: 24px;
}

.company {
  font-family: "Dancing Script", cursive;
}

.standout-01 {
  font-weight: 400;
  color: #8d0065;
}

.standout-02, a:link {
  font-weight: 400;
  color: #00288d;
}

.standout-03 {
  font-weight: 400;
  color: #8d3b00;
}

.standout-04 {
  font-weight: 400;
  color: #008d2a;
}

.standout-05 {
  font-weight: 500;
  color: #8d0065;
}

:root {
  --background-color: white;
  --text-color: hsl(50 50% 0%);
}

.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 1rem + 3vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, white 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, white 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
